spring:
  application:
    name: book-service
  datasource:
    url: jdbc:postgresql://localhost:5432/library_db
    username: library_user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate # We use Flyway, so Hibernate should only validate, not create tables
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
